__pycache__/
*.py[cod]

qdrant/storage/*
!qdrant/storage/.gitkeep
!qdrant/storage/aliases/
qdrant/storage/aliases/*
!qdrant/storage/aliases/.gitkeep
!qdrant/storage/collections/
qdrant/storage/collections/*
!qdrant/storage/collections/.gitkeep
qdrant/snapshots/*
!qdrant/snapshots/.gitkeep
qdrant/qdrant
qdrant/*.tar.gz
qdrant/.qdrant-initialized

Models/*
!Models/.gitkeep

AI_MODELS/*
!AI_MODELS/.gitkeep
